*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f6f8fc;
}

/* MAIN */

.main{
padding:30px;
max-width:1100px;
margin:auto;
}


/* CHART CARD */

.chart-card{
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
margin-bottom:25px;
}

.chart-card h2{
margin-bottom:15px;
}

.bp-wrapper{
display:flex;
align-items:center;
gap:40px;
}

.bp-chart{
flex:3;
}

.bp-chart h4{
margin-bottom:10px;
}

.bp-stats{
flex:1;
}

.bp-item{
margin-bottom:25px;
}

.bp-label{
display:flex;
align-items:center;
gap:8px;
font-weight:600;
color:#666;
margin-bottom:5px;
}

.dot{
width:10px;
height:10px;
border-radius:50%;
display:inline-block;
}

.systolic{
background:#d46cff;
}

.diastolic{
background:#4a8df8;
}

.bp-item h2{
font-size:28px;
margin:5px 0;
}

.trend-up{
font-size:13px;
color:#666;
}

.trend-down{
font-size:13px;
color:#666;
}


/* HEALTH CARDS */

.cards{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.card{
display:flex;
align-items:center;
gap:15px;
padding:18px;
border-radius:12px;
}

.card i{
font-size:22px;
}

.card h4{
font-size:14px;
}

.card p{
font-size:18px;
font-weight:600;
}

.card span{
font-size:12px;
color:#666;
}

.blue{
background:#e3f6ff;
}

.pink{
background:#ffe3ec;
}

.red{
background:#ffe3e3;
}
